body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.size{
  width:100px ;
margin-left: 1100px;
}
.pt-5{
  text-align: left;
}.card-title{
  color:blue
}.card-header.pt-3{
  background-color:aqua;
}
.card-footer.px-4{
  background-color:aqua;
}
